div#contenedor {
	height: 90px;
	width: auto;
	margin: 0px;
}

div#contenido {
	padding: 30px;
	height: 100px;
	color: black;
}

/*Seccion del estilo para la cabecera ----------------*/

div#cabecera a, div#cabecera a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
div#cabecera a:hover {
	color:  #b12a2a;
	font-weight: bold;
	/*text-decoration: underline;*/
}
div#cabecera{
	/*border-style: double;
	border-width: medium;*/
	background-color: #EEE8AA;
	height: 120px;
	border-color:  #b12a2a;
	margin: 0px;
	padding: 10px;
	float: top;
}

/*Zona de estilo en la pagina de Index*/
.descIndex h1 {
		padding: 30px;
		height: 100px;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: underline;
	}
.descIndex p{
	  font-size: 20px;
	  color: black;
	  padding:30px;
      text-align: center;
      line-height: 150%;
	}
.descIndex img{
		float: left;
		width: auto;
		height: 250px;
}

/*Zona de estilo en la pagina de Miembros ------------*/
.descpMiem{
	padding: 10px;
	float:left;
	min-height: 600px;
	width:850px;
	border-left: white 5px ridge;
}

.descpMiem h3{
	background-color: tomato;
	color: white;
	margin: 15px;
	padding: 15px;
}

.descpMiem p{
	padding:10px;
	font-size: 18px;
	text-align: justify;
	font-family: "Arial", serif;
}

/*Estilo de email + foto tipo carnet*/
.mail_photo{
	margin: 10px;
	width: 350px;
	overflow: auto;
	/*
	border-style: double;
	border-color:  tomato;
	*/
}

.mail_photo img{
	padding: 10px;
	float: left;
	width: 80px;
	height: 80px;
}

.mail_photo p{
	display:block;
	float:right;
	overflow:hidden;
}

/*Zona de estilo en la pagina de Detalles ------------*/
.menuLeft{
	padding: 10px;
	float:left;
	width: 215px;
	height: auto;
	background-color: C3C3C3;
	border: white 8px ridge;
}

.menuLeft h3{
	background-color: #6C3339;
	border-bottom: 1px black;
	color: white;
	margin: 0px;
	padding: 15px;
	text-align: center;
}

div#descpDetalles{
	padding: 10px;
	float:left;
	min-height: 600px;
	width:850px;
	border-left: white 5px ridge;
}
.descpDetalles h3{
	background-color: tomato;
	color: white;
	margin: 15px;
	padding: 15px;
}
.descpDetalles p{
	padding:10px;
	font-size: 18px;
	text-align: justify;
	font-family: "Arial", serif;
}

#li_title{
	display: block;
	background-color: #CECECE;
	text-align: center;
	border-bottom: white 2px ridge;
}

/*Zona de estilo en la pagina de Bocetos ------------*/

.imytext {
	margin: 10px;
	width: auto;
	overflow: auto;
	border-style: double;
	border-color:  #b12a2a;

}
.imytext img {
	padding: 10px;
	float: left;
	width: 800px;
	height: 600px;
}
.imytext p {
	padding:10px;
	font-size: 14px;
	text-align: justify;
}
.imytext h1{
	font-size: 16;
	text-decoration: underline #b12a2a;
}
.fl{
	font-size: 14px;
	color: #b12a2a;
}
/*Fuentes y estilos para etiquetas universales -------*/

img {
  	float: left;
		width: auto;
		height: 100px;
}

h1{
	font-weight: normal;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 40px;
}

h2{
	font-weight: normal;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 35px;
}

h3{
	font-weight: normal;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 30px;
}

p{
	text-align: center;
	font-size: 24 px;
	font-family:  Helvetica, Arial, sans-serif;
}
/*Zona de estilo en el menuBar------------------------*/
#menu{

	list-style-type: none;
	margin: 0px;
	padding-top: 80px;
	overflow: auto;
	text-transform: uppercase;
}

#li_menu{
	float:left;
	border-right: 1px solid #bbb;
	background-color: #8FBC8F;
}

#li_menu a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#li_menu a:hover{
	background-color: #DCDCDC;
}

/*Estilo Menu lateral para Miembros y Detalles -------*/
.menuLeft ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 200px;
	text-transform: uppercase;
}

.menuLeft li{
	background-color: #D3D3D3;
}

 .menuLeft li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.menuLeft li a:hover{
	background-color: #555;
	color: white;
}

/*Estilo pagina de contacto --------------------------*/

	.contact_us h1{
		display: inline-block;
		text-shadow: 2px 2px #CECECE;
		font-size: 40px;
		text-decoration: none;
		text-transform: uppercase;
	}
 .contact_us h2{
	 color: #CECECE;
	 text-decoration: underline;
	}
	#formu_box{
		border: 2px solid black;
		width: 800px;
		margin: auto;
		position:sticky;
	}

	#formu_box h3{
		text-align: center;
		text-transform: uppercase;
		text-shadow: 2px 1px;
	}

	input[type=text], input[type=email] {
	  width: 50%;
	  padding: 12px 20px;
	  margin: 8px 15px;
	  box-sizing: border-box;
		display: block;
	}

	input[type=text]:focus, input[type=email]:focus {
  	border: 2px solid #555;
	}

	input[type=radio]{
		text-align: center;
		text-transform: uppercase;
	}

	input[type=submit]{
		color:white;
		background-color: #4CAF50;
		border:none;
		height: auto;
		width: 200px;
		margin: 4px 2px;
	}
