div#contenedor {
	height: 90px;
	width: auto;
	margin: auto;
	border: 1px solid black;
	border-style: double;
	border-width: medium;
	height: 120px;
	border-color: red;
	margin-top: 30px;
}

div#contenido {
	padding: 30px;
	height: 100px;
	color: black;
}

div#cabecera a, div#cabecera a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;

}
img {
  	float: left;
	}

div#cabecera a:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;

}

div#contenido{
	background-color: #1C1C1C;
}

h1{
	color: #CCEEFF;
	font-weight: normal;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 35px;
}

p{
	color: #CCEEFF;
	text-align: center;
	font-size: 24 px;
	font-family:  Helvetica, Arial, sans-serif;
}
