div#contenedor {
	height: 90px;
	width: auto;
	margin: auto;
	margin-top: 30px;
}

div#contenido {
	padding: 30px;
	height: 100px;
	color: black;
}

/*Seccion del estilo para la cabecera ----------------*/

div#cabecera a, div#cabecera a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
div#cabecera a:hover {
	color:  #b12a2a;
	font-weight: bold;
	/*text-decoration: underline;*/
}

div#cabecera{
	/*border-style: double;
	border-width: medium;*/
	background-color: #EEE8AA;
	height: 120px;
	border-color:  #b12a2a;
}

/*Zona de estilo en la pagina de Index*/
.desc h1 {
		padding: 30px;
		height: 100px;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: underline;
	}
.desc p{
	  width: 1560px;
	  font-size: 20px;
	  color: black;
	  text-align: center;
	  line-height: 300%;
	}
.desc img{
		float: left;
		width: auto;
		height: 250px;
}

/*Zona de estilo en la pagina de Miembros ------------*/
div#refMiem{
	padding: 10px;
	float:left;
	width: 215px;
	height: auto;
	background-color: C3C3C3;
	border: white 8px ridge;
}

div#descpMiem{
	padding: 10px;
	float:left;
	min-height: 600px;
	width:850px;
	border-left: white 5px ridge;
}
/*Zona de estilo en la pagina de Detalles ------------*/
div#refDetalles{
	padding: 10px;
	float:left;
	width: 215px;
	height: auto;
	background-color: C3C3C3;
	border: white 8px ridge;
}

div#descpDetalles{
	padding: 10px;
	float:left;
	min-height: 600px;
	width:850px;
	border-left: white 5px ridge;
}

/*Zona de estilo en la pagina de Bocetos ------------*/

.imytext {
	margin: 10px;
	width: auto;
	overflow: auto;
	border-style: double;
	border-color:  #b12a2a;

}
.imytext img {
	padding: 10px;
	float: left;
	width: 800px;
	height: 600px;
}
.imytext p {
	padding:10px;
	font-size: 14px;
	text-align: justify;
}
.imytext h1{
	font-size: 16;
	text-decoration: underline #b12a2a;
}
.fl{
	font-size: 14px;
	color: #b12a2a;
}
/*----------------------------------------------------*/

img {
  	float: left;
		width: auto;
		height: 100px;
}

h1{
	font-weight: normal;
	font-family:  Helvetica, Arial, sans-serif;
	font-size: 35px;
}

p{
	text-align: center;
	font-size: 24 px;
	font-family:  Helvetica, Arial, sans-serif;
}
/*Zona de estilo en el menuBar------------------------*/
#menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	text-transform: uppercase;
}

#li_menu{
	float:left;
	border-right: 1px solid #bbb;
	background-color: #8FBC8F;
}

#li_menu a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#li_menu a:hover{
	background-color: #DCDCDC;
}

#li_menu:last-child{
	border-right: none;
}
/*Estilo Menu lateral para Miembros y Detalles -------*/
#menu_secun{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	width: 200px;
	text-transform: uppercase;
}

#li_menu_sec{
	background-color: #D3D3D3;
}

#li_menu_sec a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

#li_menu_sec a:hover{
	background-color: #555;
	color: white;
}
